<!DOCTYPE html>
<html>
<head>
  <title>Galleriable</title>
  <%= stylesheet_link_tag    "galleriable/application", media: "all" %>
  <%= javascript_include_tag "galleriable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
